.App {
  overflow-x: hidden;
  overflow-y: hidden;
}

.App_content {
  display: flex;
  width: 100%;
}

.App_login {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.App_login > img {
  width: 15vw;
  height: 30vh;
}

.App_login > button {
  margin: 1rem;
  padding: 1rem;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 0.5rem;
  box-shadow: inset;
  font-size: large;
  font-weight: 400;
  background-color: #4382f4;
  color: #fff;
}

.App_login > button:hover {
  background-color: #315eb3;
  transform: scale(1.05);
}
